BigData/Project/OpenCv/Data.zip
BigData/TORCH_IMAGE/D0925/work.ipynb
BigData/TORCH_IMAGE/data/cifar-10-python.tar.gz
BigData/TORCH_IMAGE/data/mnist_train.csv
BigData/data/Crimes_-_2001_to_Present.csv
