<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = 'UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>메인 페이지</title>
        <link rel="icon" href="../images/cat_icon.png">
        <style>
            div.content{ /* div 태그의 class가 content인 것 main 적혀있는 곳.*/
                background-image: url("../images/rose.jpg");
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 200px;
                height: 300px;
            }
        </style>
    </head>

    <body>
        <iframe src="head.html" width="100%" height="80" frameborder="0" scrolling="no"></iframe>
        <h1 style="font-size: 40px; margin: 0; padding: 0; padding-left: 20px;">메인 페이지</h1>
        <iframe src="navi.html" width="100%" height="50" frameborder="0" scrolling="no"></iframe>


        
        <hr/>
        <div class="content">
            <p>KDT를 수강하며 진행한 프로젝트를 소개하는 웹 페이지입니다.</p>
            <p>짧은 기간 진행하는 프로젝트이며, 해당 모델 및 웹페이지는 꾸준히 업데이트 예정입니다(?).</p>
            <p style="font-size: 9px;">그짓말</p>
            <p>위 탭을 선택해 프로젝트 모델을 볼 수 있습니다.</p>
            <p>피드백 가능. 환영은 내용에 따라...</p>
        </div>
        
        <iframe src="footer.html" width="100%" height="46" frameborder="0" scrolling="no">
        </iframe>
    </body>
</html>